<header>
   <mat-toolbar color="primary">
      <mat-toolbar-row class="container">
         <span> Plantilla </span>

         <button mat-icon-button class="ml-3" (click)="drawer.toggle()">
            <mat-icon> menu </mat-icon>
         </button>

         <span class="toolbar-spacer"></span>

         <app-message></app-message>
         <app-notification></app-notification>
         <app-profile></app-profile>
      </mat-toolbar-row>
   </mat-toolbar>
</header>

<app-loader-page></app-loader-page>

<mat-drawer-container [ngStyle]="{'width.px': windows[0], 'height.px': windows[1]-64}">
   <mat-drawer #drawer class="sidenav bg-sidenav-mat-drawer" mode="over" [ngStyle]="{'width.px': '280'}">
      <mat-nav-list>

         <nav *ngFor="let item of _sidenav.menu">
            <a mat-list-item *ngIf="item.type === 'link'" 
               class="link-sidenav">
               <mat-icon class="m-icon-r" color="accent"> {{ item.icon }} </mat-icon>
               {{ item.name }}
            </a>
   
            <mat-accordion *ngIf="item.type === 'accordion'">
               <mat-expansion-panel class="bg-sidenav-mat-expansion-panel">
                  <mat-expansion-panel-header class="accordion-sidenav">
                     <mat-panel-title class="link-sidenav">
                        <mat-icon class="m-icon-r" color="accent"> {{ item.icon }} </mat-icon>
                        {{ item.name }} 
                     </mat-panel-title>
                     </mat-expansion-panel-header>
                      
                  <a mat-list-item *ngFor="let subitem of item.submenu"
                     class="link-sidenav">
                     <mat-icon class="m-icon-r" color="accent"> {{ subitem.icon }} </mat-icon>
                     {{ subitem.name }}
                  </a>
               </mat-expansion-panel>
            </mat-accordion>
         </nav>
      </mat-nav-list>
   </mat-drawer>
    
   <mat-drawer-content>
      <main class="container mt-3">

         <router-outlet></router-outlet>
         
      </main>
   </mat-drawer-content>    
</mat-drawer-container>